<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css">

    <title>Weather</title>
</head>
<body>
    <div class="main">

        <div class="search">
            <form action="/check" method="post" class="city-form">
                <input id="city-search" type="text" class="city-search" name="city" placeholder="City name" aria-placeholder="City name" required> 
                <label for="city-search" class="city-label">City name</label>
            </form>
        </div>

        <div class="hero">
            <!-- Change city name -->
            <% if (locals.cityName) { %>
                <h1 class="city-title"><%= cityName %> </h1>
            <% } else { %>
                <h1 class="city-title">CITY NAME</h1>
            <% } %>
            
            <!-- Change temp -->
            <% if (locals.temp) { %>
                <h3 class="degrees">It is currently <%= temp %> degrees outside</h3>
            <% } else { %>
                <h3 class="degrees">It is currently TEMP degrees outside</h3>
            <% } %>

            <!-- Change feelsLike temp -->
            <% if (locals.feels) { %>
                <p class="feelsLike">It really feels like <%= feels %> tho</p>
            <% } else { %>
                <p class="feelsLike">It really feels like TEMP tho</p>
            <% } %>

            <!-- Change emoji -->
            <% if (locals.emoji) { %>
                <p class="emoji"><%= emoji %></p>
            <% } else { %>
                <p class="emoji">🌤️</p>
            <% } %>
        </div>

        <footer class="footer">
            <p><a href="https://github.com/YuvalFish" target="_blank">Yuval Fishbine</a> © <%= new Date().getFullYear() %></p>
        </footer>
    </div>
</body>
</html>